*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonesInicio{
  position: absolute;
  top: 40%;
  left: 40%;
  width: auto;
}

.contenedorFotos{
  text-align: center;
  margin-top: 3rem;
}

.imagen{
  height: auto;
  margin: auto;
  padding: 1rem;
}

.contenedorInputs{
  margin: auto;
  text-align: center;
  padding: 3rem;
}

.inputs{
  width: 25%;
  margin: auto;
  width: auto;
  margin-top: 0.6rem;
}

input{
  margin: 0.5rem;
  font-size: 1rem;
}

button{
  font-size: 1rem;
  padding: 0.2rem;
  margin: 1rem 0.5rem
}

li{
  list-style-type: none;
}

.datosUsuario{
  margin-top: 2rem;
}