body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.login-container {
  width: 350px;
  height: 600px;
  padding: 30px;
}

.logo-img, .qr-img {
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-img {
  width: 200px;
  margin-top: -15px;
}

.qr-img {
  width: 250px;
  margin-top: -20px;
}

.auth-button {
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.auth-input {
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
}

.auth-title, .saldo {
  font-size: 30px;
  color: #EFCD72;
  text-align: center;
  font-weight: 700;
  margin-top: 0px
}

.auth-subtitle, .auth-p-end, .auth-code, .saludo {
  font-size: 16px;
  color: #494949;
  text-align: center;
  font-weight: 500;
}

.saludo, .saldo {
  text-align: left
}

.saldo {
  margin-bottom: 0px
}

.auth-subtitle {
  margin-bottom: 30px
}

.auth-p-end {
  font-size: 14px;
  margin-top: 30px
}

.auth-link {
  text-decoration: none;
  color: #494949
}

.auth-code {
  font-size: 12px;
  cursor: pointer;
  user-select: all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-container {
  padding: 10px 20px;
  border: 2px solid #EFCD72;
  border-radius: 10px;
  margin-bottom: 10px
}

.icon-container {
  color: #494949;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logout-icon {
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .login-container {
    width: 90vw;
    height: auto;
    padding: 20px 15px;
  }

  .auth-input, .auth-button {
    height: 60px;
    font-size: 16px
  }

  .logo-img, .qr-img {
    width: 70%;
    max-width: 200px;
  }
}