::after, ::before, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  min-height: 100vh;
}

body{
  background: linear-gradient(#00064A 0%, #000000 76%) no-repeat;
}

.contenedor1{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: auto;
  color: white;
  border: 2px solid red;
}

.glass-effect{
  background: linear-gradient(#00064a14 0%, #0000001a 76%) no-repeat;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}

.contenedorFoto{
  border: 2px solid red;
}

.imagen{
  border: 2px solid red;
  width: 5%;
}

.contenedorInfo{
  border: 2px solid red;
  font-family: "Jersey 25", sans-serif;
  padding: 3vh;
}

.contenedorInfoPersonal{
  border: 2px solid red;
  width: 100%;
}

.contenedorIconos{
  width: 100%;
  margin-top: 3vh;
  border: 2px solid red;
}

.img-svg{
  width: 11vh;
  height: auto;
  margin-right: 1vh;
  background-color: aliceblue;
  text-align: center;
}

.html{
  fill: #ec3300; /* 🎨 el degradé */
  
  -webkit-mask-image: url('https://simpleicons.org/icons/html5.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-image: url('https://simpleicons.org/icons/html5.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
};

.css{
  fill: #0374d1;

  -webkit-mask-image: url('https://simpleicons.org/icons/html5.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  mask-image: url('https://simpleicons.org/icons/html5.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
};

.javaScript{

};

.bootstrap{

};

.nodeJs{

};

@media (max-width: 576px) {
  .img-svg {
    width: 8vh;
    margin: 1vh;
    text-align: center;
  }
}