::after, ::before, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Pleiades_large.jpg/1200px-Pleiades_large.jpg");
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor1{
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: 0 1px 12px rgba(255,255,255,0.8);
  width: 65%;
  margin: 18vh auto;
  color: white;
  height: auto
}

.contenedorInfo{
  font-family: "Jersey 25", sans-serif;
  padding: 4vh;
}

.contenedorInfoPersonal{
  width: 97%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorIconos{
  width: 100%;
  margin-top: 3vh;
}

.img-svg{
  width: 7.5vh;
  height: auto;
  margin-right: 2vh;
  text-align: center;
}

.contenedorImagenPersonal{
  height: auto;
  padding: 2vh;
}

img{
  height: 300px;
  width: 25.7vh;
}

.html{
  fill: #ec3300;
}

.css{
  fill: rgb(54, 116, 251);
}

.javaScript{
 fill: #cfdc1ee1
}

.bootstrap{
  fill: #7606b6;
}

.nodeJs{
 fill: #139923;
}

.contenedorBotones{
  margin-top: 3vh;
}

.boton{
  background-color: #122231!important;
  color: white !important;
  border: none;
  cursor: pointer;
  font-family: "Jersey 25", sans-serif;
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.508);
  margin-right: 2vh;
}

.contenedorProyectos{
  height: 100vh;
}


@media (max-width: 1199.98px) {
  .contenedorImagenPersonal{
    margin: auto;
  }
  
  .contenedorInfoPersonal{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contenedorInfoPersonal{
    width: 100%;
  }
  
  .contenedorIconos{
    width: 100%;
    margin-top: 3vh;
  }
  
  .img-svg{
    width: 9vh;
    height: auto;
    margin-right: 1vh;
    text-align: center;
  }
  
  .imagenPersonal{
    height: 50%;
  }

  .contenedorBotones{
    margin-top: 4vh;
  }
  
  .boton{
    background-color: #122231!important;
    color: white !important;
    border: none;
    cursor: pointer;
    font-family: "Jersey 25", sans-serif;
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.508);
  }
  
  .contenedorProyectos{
    height: 100vh;
  }
}
  
@media (max-width: 576px) {
  .contenedorInfoPersonal{
    width: 100%;
    height: 55vh;
  }
  .contenedor1{
    height: auto;
    width: 77%;
  }
  .contenedorBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .boton{
    margin: auto;
  }
  .contenedorIconos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
  }
  .img-svg {
    width: 6vh;
    margin-left: auto;
    text-align: center;
  }
  img{
    height: 300px;
    width: 17.7vh;
  }
}